PORT=
NODE_ENV=
MONGODB_URI=mongodb+srv://
JWT_SECRET=your-super-secret-jwt-key-change-in-
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-change-in-
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
FRONTEND_URL=https://ecom-
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=https://
